
  #form {
    border-left:1px solid rgb(39, 37, 37);
    display: block;
    line-height: 30PX;
    text-align: center;
    text-decoration: none;
    font-family: arial;
    color:rgb(97, 86, 86); border: 2px solid rgb(90, 61, 179);
    background-color: antiquewhite;
    border-radius: 30px 200px;
    width: 450px;
  }
  p {
    color: red;
    background-color: aqua;
  }